html{
    scroll-behavior: smooth;
}
header{
    position:fixed;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    height: 80px;
    border-bottom:1px solid #e3f2fd;
    padding:0 150px;
    .container{
        width:100%;
        height:100%;
        .logo{
            float:left;
            h1{
                font-family: 'Kanit', sans-serif;
                font-size:30px;
                font-weight: 500;
                line-height: 80px;
                letter-spacing: 3px;
                a{
                    color: #0d47a1;
                }
            }
        }
        nav{
            float:right;
            &>ul{
                li{
                    font-family: 'Kanit', sans-serif;
                    font-weight: 500;
                    float:left;
                    padding: 31px 20px;
                    a{
                        font-size: 18px;
                        letter-spacing: 1px;
                        color: transparent;
                        -webkit-text-stroke: 1px #0d47a1;

                        &::before{
                            content: attr(data-text);
                            position:absolute;
                            color:#0d47a1;
                            width:0;
                            overflow: hidden;
                            transition: .8s;
                        }
                        &:hover::before{
                            width: 7%;
                            -webkit-text-stroke: 1px #0d47a1;
                        }
                    }
                }
            }
        }
    }
    
    
} /** header*/

main{
    h3{
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        padding-bottom: 80px;
        letter-spacing: -2px;
    }
    .visual{
        background-color: white;
        height:100vh;
        width:100%;
        position: relative;
        overflow: hidden;
        .bubbles{
            position:relative;
            display:flex;
            &>span{
                display:inline-block;
                position:static;
                top: 100px;
                width:25px;
                height:25px;
                background:#bbdefb;
                margin: 0 4px;
                border-radius: 50%;
                animation: animate 15s linear infinite;
                animation-duration: calc(125s / var(--i));

                &:nth-child(even){
                    background: #90caf9;
                }
            }
            @keyframes animate {
                0%{
                    transform: translateY(100vh) scale(0);
                }
                100%{
                    transform: translateY(-10vh) scale(1);
                }
            }
        }
        .text{
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index:1;
            color: #2c2c2c;
            &>h2{
                font-family: 'Kanit', sans-serif;
                font-weight: 600;
                font-size: 40px;
                margin-bottom: 15px;
            }
            &>p{
                font-family: 'Noto Serif KR', serif;
                font-weight: 400;
                font-size: 20px;
            }
        }
        
    }/** visual*/
    .about{
        padding: 80px 150px;
        background: #e3f2fd;
        .container{
            width: 1000px;
            height: 370px;
            margin:0 auto;
            .left{
                float:left;
                width:181px;
                height:228px;
                background:url(../img/me.jpg)no-repeat;
                background-size: cover;
                margin-left: 130px;
            }
            .right{
                float:right;
                width: 420px;
                margin-right: 100px;
                padding-top:31px;
                &>h4{
                    font-family: 'Noto Serif KR', serif;
                    font-weight: 500;
                    font-size:20px;
                    margin-bottom: 25px;
                    color:#2c2c2c;
                }
                &>p{
                    font-family: 'Noto Serif KR', serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    color:#2c2c2c;
                }
            }
        }
        
    }/** about*/
    .skills{
        padding: 80px 150px;
        .imgBox{
            &>article{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 50px;
                &>img{
                    width: 250px;
                    height: 250px;
                    object-fit: contain;
                    margin-right: 20px;
                }
            }
            
        }
    }/** skills*/
    .portfolio{
        padding: 80px 150px;
        .card{
            position: relative;
            width: 400px;
            height: 400px;
            background: #000;
            box-shadow: 0 15px 45px rgba(0,0,0,0.1);
            display: flex;
            overflow: hidden;
            transition: 0.5s ease-in-out;
            &:hover{
                width: 800px;
            }
            &:hover .details{
                left: 400px;
            }
            .imgBx{
                position:relative;
                min-width: 400px;
                height: 100%;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;
                &>img{
                    width:295px;
                    height: 234px;
                }
            }
            .details{
                position:absolute;
                left: 0;
                min-width: 400px;
                height:100%;
                background:#1976d2;
                display: flex;
                justify-content: center;
                padding: 20px;
                flex-direction: column;
                z-index: 1;
                transition: 0.5s ease-in-out;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid #fff;
                }
            }
        }
    }
    .contack{
        padding: 80px 150px;
    }
}/** main */

footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 300px;
    padding: 50px 50px;

    .wave{
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(../img/wave.png);
        background-size: 1000px 100px;
    }
    #wave1{
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animateWave 4s linear infinite;
    }
    #wave2{
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animateWave_02 4s linear infinite;
    }
    #wave3{
        z-index: 1000;
        opacity: 0.2;
        bottom: 15px;
        animation: animateWave 3s linear infinite;
    }
    #wave4{
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animateWave_02 3s linear infinite;
    }
    @keyframes animateWave 
    {
        0% {
            background-position-x: 1000px;
        }
        100% {
            background-position-x: 0px;
        }
    }
    @keyframes animateWave_02
    {
        0% {
            background-position-x: 0px;
        }
        100% {
            background-position-x: 1000px;
        }
    }

    &>p{
        text-align: center;
        font-family: 'Kanit', sans-serif;
        font-size: 16px;
        letter-spacing: 0.2px;
        color:#fff;
        margin-bottom: 5px;
        
        .md{
            vertical-align: middle;
        }
        
        &>a{
            color: #fff;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}