@import './color.scss';
body{font-family: 'Nanum Gothic', sans-serif;}
.clearfix{
    content: '';
    clear: both;
    display:block;
    float:none;
}
.btnstyle{
    width:140px;
    height:40px;
    border:2px solid #000;
    text-align: center;
    cursor: pointer;
    line-height:35px;
    font-size:15px;
    border-radius: 5px;
    margin-top:20px;
}


/**** header ****/
header {
    width:100%;
    height:120px;
    background-color:#f6f5ef;
    border-top:2px solid #000;
    border-bottom:1px solid #e5e5e5;
    position:fixed;
    z-index:999;

    .gnb-inner{
        width:100%;
        height:120px;
        margin:0 auto;
        position:relative;
        padding:0 180px;
    }

    .logo{
        display:inline-block;
        width:75px;
        height:75px;
        margin-top:22px;

        a{
            width:75px;
            height:75px;
            text-indent: -99999px;
            overflow: hidden;
            display:block;
            background:url(../img/logo.png) no-repeat;
        }
    }

    /* top menu*/
    .top{
        position: absolute;
        top:23px;
        right:255px;
        font-weight: 300;

        ul li{
            float:left;
            margin-right:20px;
            font-size:14px;
            a{
                display:block;
                color:#555;

                &:after{
                    content:'|';
                    display:inline-block;
                    margin-left:20px;
                    color:rgb(228, 228, 228);
                }
            }
            &:hover a{text-decoration-line: underline;}
            &:last-child a::after{
                content:'';
                padding-left:0;
            }
        }
    }


    /* search btn */
    .btn-search{
        position:absolute;
        top:15px;
        right:230px;

        a{
            position:absolute;
            top:4px;
            right:6px;
        }

        input{
            height:25px;
            width:28px;
            border-radius: 4px;
            border:1px solid #ccc;
            -webkit-transition: width .5s;
        }
    }


    /* bottom menu */
    .bottom{float:right;margin-top:73px;}
    .bottom>ul>li{float:left;width:150px;
        &:hover>a{
            background-color:#2C2A29;
            text-decoration: underline;
            color:#64a70b;
        }
        &>a{
            display:block;
            text-align:center;
            font-size:14px;
            font-weight: 400;
            color:#555;
            height:45px;
            padding-top:5px;
        }
    }
    .sub_wrap{
        width:100%;
        position: absolute;
        top:118px;
        left:0;
        max-height:0;
        overflow:hidden;
        transition:max-height 0.3s ease-out;
    }
    .sub_menu{
        width:100%;
        height:300px;
        background-color:#2C2A29;
        padding:30px 109px;
    }
    .sub_menu_ul>li{
        float:left;
        margin-right:114px;
        &:last-child{
            margin-right:0;
        }
    }
    .sub_menu_ul>li>a{
        font-size:15px;
        font-weight: 700;
        color:white;
        &:hover{
            text-decoration: underline;
        }
    }
    .sub_menu_ul ul {margin-top:15px;
        li{padding:3px 0;
            a{font-size:13px;color:#eee;
                &:hover{ text-decoration: underline;}
            }
        }
    }
    .sub_text{background:url(../img/gnb_sub_txbg.jpg);
        .sub_text_inner{padding:30px 109px;
            p{
                font-weight:700;
                color:#ddd;
                font-size:15px;
                margin-bottom:5px;
            }
            .cold::after{
                content:'';
                display:inline-block;
                background:url(../img/icon_gnb_new.png) no-repeat;
                width:35px;
                height:15px;
                margin-left:3px;
            }
            span{
                font-size:13px;
                color:#64a70b;
                padding-bottom:20px;
                display:inline-block;
                &:last-child{padding-bottom:0;}
            }
        }
    }
    .coffe{height:385px;}
}


/**** main ****/
main{
    width:100%;
    position:relative;
    top:120px;
    .visual_wrap{
        width:100%;
        height:646px;
        background:url(../img/bg-yellow.jpg) no-repeat -240px;
        position:relative;
        .coupon_wrap{
            width:140px;
            position:fixed;
            top:150px;
            right:70px;
            z-index:10;
        } //coupon_wrap
        .taste_wrap{
            width:280px;
            position:absolute;
            top:50px;
            left:240px;
            .taste_img{
                background:url(../img/yellow-taste.png) no-repeat;
                width:280px;
                height:193px;
                background-size:contain;
            }
            .taste_btn{
                border-color:$pink;
                margin:20px auto;
                color:$pink;
                &:hover{
                    background-color:$pink;
                    color:white;
                    text-decoration: underline;
                    -webkit-transition: background-color .5s;
                }
            }
        }
        .cold{
            position:absolute;
            top:80px;
            left:600px;
            width:548px;
            height:408px;
        }
        .punch{
            position:absolute;
            bottom:80px;
            left:420px;
            width:468px;
            height:315px;
        }
        .tea{
            position:absolute;
            right:106px;
            bottom:50px;
            width:302px;
            height:459px;
        }
    } // visual_wrap



    /**** 공지사항 ***/
    .notice_wrap{
        width:1519px;
        height:60px;
        background-color:red;
        position:relative;
        .notice_left{
            width:840px;
            height:100%;
            float:left;
            background-color:#000;
            .notice_title{
                float:left;
                width:65px;
                margin-left:180px;
                margin-top:20px;
            }
            .ul_wrap{
                float:left;
                background:red;
                width:400px;
                height:20px;
                margin-left:15px;
                margin-top:20px;
                position:relative;
                overflow: hidden;
                .txt{
                    float:left;
                    width:400px;
                    line-height:20px;
                    position:absolute;
                    top:0;
                    left:0;
                    .txt.animated{
                        -webkit-transition:top .5s ease-in;
                        transition:left .5s ease-in;
                    }
                    li{
                        font-size:14px;
                        background-color:black;
                        width:100%;
                        a{display:block;color:white;}
                        &:hover a{text-decoration: underline;}
                    }
                }
            }
            .plus{
                img{
                    width:36px;
                    height:36px;
                    margin-top:12px;
                    margin-left:100px;
                }
            }
            
        } // notice_left
        .notice_right{
            width:679px;
            height:100%;
            background-color:#f6f5ef;
            float:right;

            p>img{
                width:129px;
                float:left;
                margin-top:20px;
                margin-left:200px;
            }
            a img{
                position:absolute;
                right:240px;
                top:12px;
            }
        } // notice_right
    } // notice_wrap

    .notice_hidden_wrap{
        height:658px;
        background-color:#f6f5ef;
        display:none;
        &.open{display:block;}
        .swiper{
            width:100%;
            height:100%;
            .swiper-wrapper{
                .swiper-slide{
                    margin-top:50px;
                    width:820px;
                    height:553px;
                    opacity: 0.5;
                    .swiper-slide-active{opacity: 1;}
                    .reward_btn{
                        position:absolute;
                        bottom:0;
                        left:339px;
                        &:hover{background-color:black;color:white;-webkit-transition:background-color .3s;}
                    }
                }
                .swiper-slide-active{opacity: 1;}
            }
            .swiper-button-next{
                right:250px;
                top:225px;
                background:url(../img/btn-next.png) center center no-repeat;
                &::after{display:none;}
                &:hover{background-color:$white;}
            }
            .swiper-button-prev{
                left:250px;
                top:225px;
                background:url(../img/btn-prev.png) center center no-repeat;
                &::after{display:none}
                &:hover{background-color:$white;}
            }
            .nextPre{
                width:51px;
                height:51px;
                border:2px solid black;
                border-radius: 50%;
                -webkit-transition: background-color .5s;
            }
        }
    } // notice_hidden_wrap

    /* userWrap */
    .starbucks_userWrap{
        width:100%;
        height:235px;
        background-color:$deepgreen;
        padding:30px 0;
        .userWrap_inner{ margin:0 180px;}
        .img_wrap{ float: left;margin: 0 40px;
            img{width:176px;}
        }
        .text_wrap{ float:left;}
        .text_top{margin-bottom:10px;
            .top_text_wrap{float:left;
                h3{
                    color:$white;
                    font-size:28px;
                    font-weight:400;
                    padding:10px 0 15px 0;
                }
                p{
                    color:$white;
                    font-size:18px;
                    padding:0 0 5px  0;
                }
            }
            span{font-weight: 700;}
            .btn_wrap{
                float:left;
                margin: 33px 0 20px 70px;
                .join{
                    float:left;
                    width:100px;
                    margin-right:10px;
                    line-height:35px;
                    border-color: $green;
                    background-color: $green;
                }
                .login{
                    float:left;
                    width:80px;
                    line-height:35px;
                    border-color:$white;
                }
                a{
                    color:$white;
                    font-size:14px;
                    display:block;

                    &:hover{text-decoration:underline;}
                }
            }
        }// text_top
        .line{
            width:815px;
            border-bottom:1px solid $white;
            margin-bottom:20px;
        }
        .text_bottom{
            .bottom_text_wrap{ float:left;
                p{
                    font-size:14px;
                    color:$white;
                    font-weight: 400;
                    padding-bottom:5px;
                }
                span{font-weight: 700;}
            }
            .btn_wrap{
                float:left;
                margin-left:26px;
                .gift{
                    width:190px;
                    margin-top:0;
                    border-color:$white;
                    line-height:35px;
                    a{
                        color:$white;
                        display:block;
                        font-size:14px;
                        &:hover{text-decoration:underline;}
                    }
                }
            }
        }
    } // starbucks_userWrap


    /* toraja_wrap */
    .toraja_wrap{
        position:relative;
        width:100%;
        height:572px;
        background:url(../img/bg-blue.jpg) center center no-repeat;
        background-size:cover;
        .bg_left{
            width:425px;
            height:392px;
            background:url(../img/blue-background-left.png) 0 -150px no-repeat;
            position:absolute;
        }
        .bg_right{
            width:482px;
            height:360px;
            background:url(../img/blue-background-right.png) 0 87px no-repeat;
            position:absolute;
            right:0;
            bottom:0;
        }
        .toraja_inner{
            width:1200px;
            height:100%;
            margin:0 auto;
            position:relative;
        }
        .left{
            position:absolute;
            left:185px;
            top:77px;
            img{width:310px;height:418px;}
        }
        .right{
            position:absolute;
            right:240px;
            top:190px;
            img{width:321px;height:129px}
            .toraja_btn{
                margin-top:40px;
                border-color:$deepblue;
                &:hover{
                    text-decoration: underline;
                    background-color:$deepblue;
                    color:white;
                    -webkit-transition: background-color .5s;
                }
            }
        }
    } // toraja_wrap


    /* indo_wrap */
    .indo_wrap{
        position:relative;
        width:100%;
        height:400px;
        background:url(../img/bg-pink.jpg) no-repeat;
        .bg_left{
            width:373px;
            height:273px;
            background:url(../img/pink-background-left.png) -140px 0 no-repeat;
            position:absolute;
            bottom:0;
            left:0;
        }
        .bg_right{
            height:301px;
            width:563px;
            background:url(../img/pink-backgrond-right.png) 333px 20px no-repeat;
            position:absolute;
            bottom:0;
            right:0;
            z-index:1;
        }
        .left{
            float:left;
            margin-top:115px;
            position:absolute;
            left:200px;
            z-index:1;
            img{margin-bottom:40px;}
            .indo_btn{
                margin:0 248px;
                border-color:$gold;
                color:$gold;
                &:hover{
                    background-color:$gold;
                    text-decoration: underline;
                    -webkit-transition: background-color .5s;
                    color:$white;
                }
            }
        }
        .right{
            width:100%;
            height:100%;
            position:absolute;
            bottom:0;
            bottom:0;
            overflow:hidden;
            img{object-position:-140px;}
        }
    } // indo_wrap



    /* favorite_wrap */
    .favorite_wrap{
        width:100%;
        height:800px;
        background: url(../img/bg-favorite.jpg) center center fixed no-repeat #45434c;
        background-size:auto 100%;
        .favorite_inner{
            width:1200px;
            height:100%;
            margin:0 auto;
            position:relative;
            .txt1{
                width:258px;
                height:204px;
                background:url(../img/title-favorite1.png) no-repeat;
                position:absolute;
                left:150px;
                top:80px;
            }
            .txt2{
                width:362px;
                height:156px;
                background:url(../img/title-favorite-text2.png) no-repeat;
                position:absolute;
                top:330px;
                left:46px;
            }
            .favorite_btn{
                position:absolute;
                bottom:230px;
                left:268px;
                border-color:$white;
                color:$white;
                &:hover{
                    background-color:$white;
                    color:black;
                    text-decoration:underline;
                    -webkit-transition: background-color .5s;
                }
            }
            .img{
                width:672px;
                height:458px;
                background:url(../img/favorite.png) no-repeat;
                position:absolute;
                right:0;
                top:80px;
            }
        }// favorite_inner
    }// favorite_wrap



    /* magazine_wrap */
    .magazine_wrap{
        width:100%;
        height:400px;
        background:url(../img/bg-reserve.png) 50% 100% no-repeat;
        .magazine_inner{
            width:100%;
            height:100%;
            padding:0 180px;
            position:relative;
            .title{
                width:588px;
                height:97px;
                background:url(../img/title-reserve.png) no-repeat;
                position:absolute;
                top:130px;
                left:255px;
            }
            .magazine_btn{
                position:absolute;
                left:545px;
                bottom:100px;

                &:hover{
                    background-color:black;
                    color:$white;
                    text-decoration: underline;
                    -webkit-transition: background-color .5s;
                }
            }
            .img{
                width:384px;
                height:374px;
                background:url(../img/reserve.png) no-repeat;
                position:absolute;
                right:240px;
            }
        }
    }// magazine_wrap



    /* store_wrap */
    .store_wrap{
        width:100%;
        height:400px;
        background:url(../img/bg-store.jpg) no-repeat;
        background-size:cover;
        position:relative;
        .store_inner{
            .bg_top{
                width:343px;
                height:142px;
                background:url(../img/store_exp_img03.png) 0 -60px no-repeat;
                position:absolute;
                left:40%;
            }
            .bg_bottom{
                width:230px;
                height:102px;
                background:url(../img/store_exp_img04.png) no-repeat;
                position:absolute;
                bottom:0;
                right:180px;
            }
            .big_img{
                width:366px;
                height:312px;
                background:url(../img/store_exp_img02.png) 0 0 no-repeat;
                position:absolute;
                top:0;
                left:250px;
            }
            .small_img{
                width:228px;
                height:228px;
                background:url(../img/store_exp_img01.png) 0 0 no-repeat;
                position:absolute;
                bottom:20px;
                left:500px;
            }
            .txt1{
                width:385px;
                height:54px;
                background:url(../img/store_txt01.png) no-repeat;
                position:absolute;
                right:300px;
                top:100px;
            }
            .txt2{
                width:366px;
                height:61px;
                background:url(../img/store_txt02.png) no-repeat;
                position:absolute;
                right:320px;
                top:170px;
            }
            .store_btn{
                position:absolute;
                right:530px;
                bottom:90px;
                &:hover{
                    background-color:black;
                    color:$white;
                    text-decoration:underline;
                    -webkit-transition: background-color .5s;
                }
            }
        }
    }
} // main


/* footer */
footer{
    width:100%;
    position:relative;
    top:120px;
    background-color:#2C2A29;
    padding: 40px 0;

    /* inner1 */
    .footer_inner1{
        width:100%;
        height:200px;
        padding:0 180px;
        .footer_nav{float:left;
            .nav{
                &>li{
                    float:left;
                    margin-right:70px;
                    font-size:15px;
                    &>a{
                        color:$white;
                        display:block;
                        font-weight: 400;
                    }
                    &>a:hover{text-decoration:underline;}
                    .sub{margin-top:20px;
                        &>li{
                            margin-bottom:10px;
                            font-size:13px;
                            &>a{
                                display:block;
                                color:white;
                                font-weight:300;
                            }
                            &>a:hover{text-decoration:underline;}
                        }
                    }
                }
            }
        }//footer_nav
        .footer_title{img{float:right;}}
    }// footer_inner1


    /* footer_inner2 */
    .footer_inner2{
        width:100%;
        height:80px;
        background-color:#282828;
        padding:20px 169px;
        .awards_wrap{
            .awards_list{
                li{float:left;}
            }
        }
    }// footer_inner2



    /* footer_inner3*/
    .footer_inner3{
        width:100%;
        background-color:#2C2A29;
        padding:40px 180px;
        .copyright{
            width:1065px;
            margin:0 auto;
            a{
                display:inline-block;
                font-size:12px;
                color:#ccc;
                &::after{
                    content: '|';
                    margin-left:10px;
                    color:#ccc;
                    font-weight:300;
                }
                &:first-child{color:#00b050; font-weight:700}
                &:last-child::after{content:'';margin-left:0;}
                &:hover{text-decoration:underline;}
            }
        }
        .btn_wrap{
            width:390px;
            margin:20px auto;
            .btn{
                margin-top:0;
                float:left;
                margin-right:10px;
                width:120px;
                border-color:$white;
                color:$white;
                font-size:12px;
                line-height:35px;
                &:hover{text-decoration:underline;}
            }
        }
        .info{
            width:756px;
            margin:90px auto 20px;
            span{display:inline-block;margin-right:15px;
                &:last-child{margin-right:0;}
            }
        }
        p{color:#ccc;font-size:12px;
            &:last-child{width:305px;margin:0 auto;}
        }
    }//footer_inner3





}//footer
